body { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

#container {
    display: flex;
    flex-wrap: wrap;
    border-collapse: collapse;
    max-height: 100vh;
    height: 100%;
    flex: 0 1 auto;
}

.child {
    aspect-ratio: 1;
    margin: 0;
    border-collapse: collapse;
    border: 1px solid #000000;
    border-collapse: collapse;
    flex: 0 1 auto;
}
